vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|12 May 2020 15:04:17 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|KA-HOME\\ka
vti_modifiedby:SR|KA-HOME\\ka
vti_timecreated:TR|12 May 2020 15:04:17 -0000
vti_cacheddtm:TX|12 May 2020 15:04:17 -0000
vti_filesize:IR|1621
vti_cachedtitle:SR|Welcome to this site
vti_cachedbodystyle:SR|<body>
vti_cachedlinkinfo:VX|Q|https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css Q|https://fonts.googleapis.com/css2 Q|static/project1.css H|index.html\\  H|register.html H|logon.html H|reviews.html
vti_cachedsvcrellinks:VX|NQSS|https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css NQSS|https://fonts.googleapis.com/css2 FQUS|templates/static/project1.css FHUS|templates/index.html\\  NHUS|templates/register.html NHUS|templates/logon.html NHUS|templates/reviews.html
vti_cachedneedsrewrite:BR|false
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_metatags:VR|HTTP-EQUIV=Content-Type text/html;\\ charset=utf-8
vti_charset:SR|utf-8
vti_title:SR|Welcome to this site
vti_backlinkinfo:VX|
