vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|15 May 2020 12:00:15 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|KA-HOME\\ka
vti_modifiedby:SR|KA-HOME\\ka
vti_timecreated:TR|13 May 2020 10:31:31 -0000
vti_backlinkinfo:VX|templates/main.html
vti_nexttolasttimemodified:TW|15 May 2020 10:33:18 -0000
vti_cacheddtm:TX|15 May 2020 12:00:15 -0000
vti_filesize:IR|1169
vti_cachedlinkinfo:VX|K|main.html H|{{\\ url_for('index')}} A|{{\\ url_for('results')}}
vti_cachedsvcrellinks:VX|FKUS|templates/main.html NHUS|templates/{{\\ url_for('index')}} NAUS|templates/{{\\ url_for('results')}}
vti_cachedneedsrewrite:BR|false
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_charset:SR|utf-8
