vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|20 May 2020 13:45:11 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|KA-HOME\\ka
vti_modifiedby:SR|KA-HOME\\ka
vti_timecreated:TR|13 May 2020 10:31:31 -0000
vti_backlinkinfo:VX|
vti_nexttolasttimemodified:TW|19 May 2020 18:35:03 -0000
vti_cacheddtm:TX|20 May 2020 13:45:11 -0000
vti_filesize:IR|1244
vti_cachedlinkinfo:VX|H|{{\\ url_for('myreviews')\\ }} H|{{\\ url_for('index')}} A|{{\\ url_for('results')}}
vti_cachedsvcrellinks:VX|NHUS|templates/{{\\ url_for('myreviews')\\ }} NHUS|templates/{{\\ url_for('index')}} NAUS|templates/{{\\ url_for('results')}}
vti_cachedneedsrewrite:BR|false
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_charset:SR|utf-8
