vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|13 May 2020 13:24:42 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|KA-HOME\\ka
vti_modifiedby:SR|KA-HOME\\ka
vti_timecreated:TR|13 May 2020 10:26:25 -0000
vti_title:SR|Book Reviews
vti_backlinkinfo:VX|
vti_nexttolasttimemodified:TW|13 May 2020 13:13:30 -0000
vti_cacheddtm:TX|13 May 2020 13:24:42 -0000
vti_filesize:IR|1118
vti_cachedtitle:SR|Book Reviews
vti_cachedbodystyle:SR|<body>
vti_cachedlinkinfo:VX|Q|https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css Q|https://fonts.googleapis.com/css2 Q|static/project1.css A|{{\\ url_for('adduser')\\ }}
vti_cachedsvcrellinks:VX|NQSS|https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css NQSS|https://fonts.googleapis.com/css2 NQUS|templates/static/project1.css NAUS|templates/{{\\ url_for('adduser')\\ }}
vti_cachedneedsrewrite:BR|false
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_charset:SR|utf-8
