<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
	<title>Welcome to this site</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">     
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@400;500&display=swap" rel="stylesheet">
	<link href="static/project1.css" rel="stylesheet" type="text/css" />

</head>

<body>
	<div class="container-fluid">
		<header>Books</header>
	</div>
	<div class="row">
		<div class="col-3">
			<section>
			<ul class="nav flex-column">
				<li class="nav-item">
					<a class="nav-link active" href="index.html ">
						Home
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="register.html">
						Register
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="logon.html">
						Logon
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="reviews.html">
						Reviews
					</a>
				</li>
			</ul>
		</section>

		</div>
		<div class="col-9">
			<section>
				<h3>Section 1</h3>
				<p>This is a test. This is a test. This is a test. This is a test. This is a test. This is a test. This is a test.  </p>
			</section>
		</div>
	</div>

</body>

</html>
