{% extends "layout.html" %}

{% block body %}

	
<section>
<p>
	{% if code == 404 %}
		<h4 class="red">There was an error with your details. Please try again.</h4>
	{% elif code == "new" %}
		<h4>You are now registered. Please logon.</h4>
	{% else %}
		<h4>Register or Logon</h4>
	{% endif %}

	<table border="0">
		<tr>
			<td width="50%">
				<form action="{{ url_for('main') }}" method="POST">
			        <input type="text" name="name" placeholder="Enter your Username">
			        <input type="password" name="password" placeholder="Enter password">
			        <button>Logon</button>
			    </form>				
			</td>
		<tr>
			<td width="50%">
			New user? Click the register button! 
				<form action="{{ url_for('register') }}" method="GET">
					<button>Register</button>
    			</form>			
			</td>
		</tr>
	</table>
</p>
</section>
	
{% endblock %}