<!DOCTYPE html">
<html>
<head>
	<title>Book Reviews</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">     
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@400;500&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{{ url_for('static', filename='project1.css') }}">
</head>

<body>
	<div class="container-fluid">
		<header>Books</header>
	</div>
	<div class="row">
		<div class="col-3">
			<section>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
			</section>
		</div>
		<div class="col-9">
			<section>
				<h3>Section 1</h3>

			</section>
		</div>
	</div>

</body>

</html>
