<!DOCTYPE html">
<html>
<head>
	<title>Book Reviews</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">     
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@400;500&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{{ url_for('static', filename='project1.css') }}">
</head>

	<body>
		<section>
				<header>Book Reviews</header>
		</section>

		<section>
			{% block body %}
       	 	{% endblock %}
		</section>



	</body>
</html>