<!DOCTYPE html">
<html>
<head>
	<title>Book Reviews</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">     
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@400;500&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="static/project1.css">
</head>

<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<header>Book Reviews for {{user}}</header>
			</div>
		</div>
		<div class="row">
			<div class="col-2">
			 <ul class="nav flex-column">
				<li class="nav-item">
					<a class="nav-link" href="index.html ">Logout</a></li>
				<li class="nav-item">
					<a class="nav-link" href="rounds.html">Rounds</a></li>
				<li class="nav-item">
					<a class="nav-link" href="callchanges.html">Call Changes</a></li>
			  </ul>
		    </div>
		    <div class="col-10">
				<section>	 
				Test
				
				</section>
		   </div>
		  </div>
	</div>
</body>

</html>
