
{% extends "layout.html" %}

{% block body %}

	<section>
		<ul class="nav justify-content-center">
		  <li class="nav-item">
		    <a class="nav-link" "larger" href="#">My Review</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" "larger" href="{{ url_for('index')}}">Logout</a>
		  </li>
		</ul>
	</section>
		
	<section>
		<h2>Search for a review</h2>
		<form action="{{ url_for('results')}}" method="post">
			<div class="form-group">
				{% if error == 1 %}
					<h3 class="red">You did not enter any details</h3>
				{% endif %}
				<p>Please enter details into at least one search criteria.</p>
				<input class="form-control form-control-lg" name ="title" type="text" placeholder="Enter book title or part of a title">
				<input class="form-control form-control-lg" name="isbn" type="text" placeholder="Enter an ISBN">
				<input class="form-control form-control-lg" name="author" type="text" placeholder="Enter name of author">
				<br>
				<button type="submit" class="btn btn-primary mb-2">SEARCH</button>
    		</div>
		</form>
	
	</section>
	
{% endblock %}

{% block results %}


{% endblock %}
