
{% extends "layout.html" %}

{% block body %}

	<section>
		<ul class="nav justify-content-center">
		  <li class="nav-item">
		    <a class="nav-link" "larger" href="{{ url_for('myreviews') }}" >My Reviews</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" "larger" href="{{ url_for('index')}}">Logout</a>
		  </li>
		</ul>
	</section>
		
	<section>
	
		<table cellpadding="5" cellspacing="5">
			<tr>
				<td>&nbsp;</td>			
				<th>ISBN</th>
				<th>Title</th>
				<th>Author</th>
			</tr>
			{% for book in books %}
				<tr>
				<form action="{{ url_for ('bookdetails') }}" method="post">
					<td><button>Get details</button></td>
				    <td>{{book.isbn}}</td>
				    <td>{{book.title}}</td>
				    <td>{{book.author}}</td>
				    <input type="hidden" name="isbn" value="{{book.isbn}}">
				    <input type="hidden" name="title" value="{{book.title}}">
			    	<input type="hidden" name="author" value="{{book.author}}">
				</form>			
			{% endfor %}
		</table>
		
	</section>
	
{% endblock %}

{% block results %}


{% endblock %}
